/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 40%;
  margin: 0 auto;
}

body {
  background: url("https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg");
}
