.addFormWrapper {
  height: 200px;
  width: 350px;
  /* border: 1px solid black; */
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

form input,
.addFormWrapper button {
  padding: 5px;
  height: 25px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.addFormWrapper button:hover {
  background-color: rgb(7, 63, 43);
  color: white;
}
