table {
  border: 1px solid black;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

th {
  padding: 5px;
}

.delConfirmationON {
  display: table-row;
}

.delConfirmationOFF {
  display: none;
}
