header > div > img {
  margin: 15px 0px 5px 100px;
  width: 150px;
}

header > div {
  width: 100%;
  background-color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(22, 22, 72);
  color: white;
}

header nav p {
  margin: 25px;
}

header > img {
  padding: 25px 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

header nav a p {
  color: white;
}
